html, body {
  font-family: "Menlo", "Inconsolata", "Monaco", "Consolas", "Courier New", "Courier", "monospace", "serif";
  font-weight: 200;
  font-size: 18px;
  margin-left: 4px;
  color: white;
}

div {
  display:flex;
  align-items:center;
}

span.keyword {
  color: #b43d94;
}

span.print {
  color: #00AAA4;
}

span.case {
  margin-left: 8px;
}

span.name {
  color: white;
}

span.string {
  color: #dc3b3b;
}

span.comment {
  color: #52AF55;
}

span.obj {
  color: #94C66F;
}

span.prop {
  color: #688790;
}

a:link, a:visited {
  color: #688790;
  text-decoration: none;
}

a:hover, a:active {
  color: #6887AA;
  text-decoration: none;
}

a.method:link, a.method:visited {
  color: #94C66F;
  text-decoration: none;
}

a.method:hover, a.method:active {
  color: #94C6AA;
  text-decoration: none;
}

a.title {
  font-size: 27px;
  color: #cc9966;
  text-decoration: none;
}

span.title {
  font-size: 27px;
  color: #cc9966;
}

span.giffy {
  font-family: "AvenirNext-DemiBold";
  font-size: 22px;
  color: white;
  margin-left: 8px;
}

span.post {
  font-family: -apple-system, BlinkMacSystemFont,
  "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: white;
  margin-left: 8px;
}

span.sportody {
  font-family: "Lato";
  font-weight: 600;
  font-size: 22px;
  margin-left: 8px;
}

span.sub {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size: 15px;
  margin-left: 8px;
}

/* For non-mobile devices: */
@media only screen and (min-width: 768px) {

  html, body {
    font-size: 24px;
    margin-left: 6px;
  }

  span.case {
    margin-left: 10px;
  }

  span.giffy {
    font-size: 30px;
    margin-left: 6px;
  }

  span.post {
    font-size: 30px;
    margin-left: 6px;
  }

  span.sportody {
    font-size: 30px;
    margin-left: 6px;
  }

  span.sub {
    margin-left: 6px;
  }

  a.title {
    font-size: 36px;
  }

}
