html, body {
  font-family: "Menlo", "Inconsolata", "Monaco", "Consolas", "Courier New", "Courier", "monospace", "serif";
  font-size: 24px;
  font-weight: 200;
  margin-left: 10px;
  color: white;
}

div {
    display:flex;
    align-items:center;
}

span.keyword {
  color: #b43d94;
}

span.print {
  color: #00AAA4;
}

span.case {
  margin-left: 2em;
}

span.name {
  color: white;
}

span.string {
  color: #dc3b3b;
}

span.comment {
  color: #52AF55;
}

span.obj {
  color: #94C66F;
}

span.prop {
  color: #688790;
}

a:link, a:visited {
  color: #688790;
  text-decoration: none;
}

a:hover, a:active {
  color: #6887AA;
  text-decoration: none;
}

span.title {
  font-size: 36px;
  color: #cc9966;
}

span.giffy {
  font-family: "AvenirNext-DemiBold";
  font-size: 30px;
  color: white;
  margin-left: 10px;
}

span.post {
  font-family: -apple-system, BlinkMacSystemFont,
  "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: white;
  margin-left: 10px;
}
