<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag "index.css" %>
</head>
<body style="background-color:#292B37">
  <p>
    <span class="print">print</span><span class="name">(</span><span class="string">"Hello!"</span><span class="name">)
    <br>
    <br>
    <span class="keyword">let </span><span class="name">name = </span><span class="string">"Gonzalo Nuñez"</span>
    <br>
  </p>
  <p>
    <span class="keyword">enum </span><span class="name">Passions {</span>
    <br>
    <span class="keyword case">case </span><span class="name">Software Development</span>
    <br>
    <span class="keyword case">case </span><span class="name">UI/UX Design</span>
    <br>
    <span class="keyword case">case </span><span class="name">Fútbol</span>
    <br>
    <span class="name">}
  </p>
  <p>
    <br>
    <a class="method" href="#Apps">goToApps()</a>
    <br>
    <a class="method" href="https://blog.gonzalonunez.me" target="_blank">goToBlog()</a>
  </p>
  <p> <span class ="comment"><br>/*----------------------*/</span><br><br></p>
  <a class="title" name="Apps">Apps<br><br> </a>
  <div>
    <%= image_tag("Post.png", size: "60x60", alt: "Post")%><span class="post">Post</span>
  </div>
  <p>
  <span class="keyword small">let </span><span class="name small">post = </span><span class="obj small">App</span><span class="name small">(name:</span><span class="string small">"Post"</span><span class="name small">)</span>
  <br>
  <span class="name small">post.</span><a class="small" href="https://post-mailbox.herokuapp.com" target="_blank">learnMore</a><span class="name small">()</span>
  <br>
  <br>
  </p>
  <div>
    <%= image_tag("Giffy.png", size: "60x60", alt: "Giffy")%><span class="giffy">Giffy</span>
  </div>
  <p>
  <span class="keyword small">let </span><span class="name small">giffy = </span><span class="obj small">App</span><span class="name small">(name:</span><span class="string small">"Giffy"</span><span class="name small">)</span>
  <br>
  <span class="name small">giffy.</span><a class="small" href="https://appsto.re/us/gSgd2.i" target="_blank">learnMore</a><span class="name small">()</span>
  <br>
  <br>
  </p>
  <div>
    <%= image_tag("Emojimation.png", size: "60x60", alt: "Emojimation")%><span class="giffy">Emojimation</span>
  </div>
  <p>
  <span class="keyword small">let </span><span class="name small">emojimation = </span><span class="obj small">App</span><span class="name small">(name:</span><span class="string small">"Emojimation"</span><span class="name small">)</span>
  <br>
  <span class="name small">emojimation.</span><a class="small" href="https://appsto.re/us/ZEJt5.i" target="_blank">learnMore</a><span class="name small">()</span>
  <br>
  </p>
</body>
</html>
